%h1(class="mb-4") Portal 列表 (共 #{@count} 个)

= pagy_nav(@pagy).html_safe
%div(class="flex items-center min-w-none xl:min-w-screen-lg xl:max-w-screen-xl")
  %div(class="px-2 py-6 flex-grid-box flex-grid-cols-1-gap-4 sm:flex-grid-cols-2-gap-4 md:flex-grid-cols-2-gap-4 lg:flex-grid-cols-3-gap-4")
    = render partial: "portal", collection: @portals

= pagy_nav(@pagy).html_safe
