%div(class="w-4/5" data-controller="portal-search" data-action="paste->portal-search#paste" data-reflex-root)
  %section#search(class="" data-reflex-permanent)
    %header(class="flex flex-col items-center justify-center")
      %h1(class='mb-2') 在方框内黏贴portal图片
      %span(class='mb-2 flex w-full h-48 border-blue-600 border-2' data-target="portal-search.input" id="input")
        -#%input(type="file" autofocus="autofocus" accept="image/*")

  %section(class="" id="results")
    %h1 current result
    %div(class="" id="result" data-target="portal-search.result")
    %h1 old result
    %div(class="" id="old-result" data-target="portal-search.oldresult")
